@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Añadir un color único directo */
  --color-theme-primary: #f1f1f1;
  --color-theme-primary-dark: #111827;
  --color-theme-secondary: #FFFFFF;
  --color-theme-secondary-dark: #1a222e;
  --color-theme-third-dark: #2d3c52;

  --color-primary-green: #2E7D32;
  --color-primaryDark-green: #1B5E20;
  --color-primaryLight-green: #81C784;
  --color-theme-text-green: #2E7D32;
  --color-theme-text-withe-secondary: #f1f1f1;
  --color-theme-text: #1F2937;
  --color-theme-textLight: #6B7280;
}

.colors {
  color: /* primary:*/ #2E7D32; 
  color: /*primaryDark:*/ #1B5E20;
  color: /*primaryLight:*/ #81C784;

  color: /*secondary*/ #F9A825;
  color: /*secondaryLight*/ #FFD54F;

  color: /*background*/ #f1f1f1;
  color: /*surface*/ #FFFFFF;

  color: /*text*/ #2d3c52;
  color: /*text*/ #1F2937;
  color: /*textLight*/ #6B7280;

  color: /*border*/ #E5E7EB;

  color: /*success*/ #22C55E;
  color: /*error*/ #EF4444;
  color: /*warning*/ #F59E0B;
  color: /*info*/ #3B82F6;
  color: /*Beige*/ #F5F1E8;
}

.animacion-logo {
  animation: logo 1.8s infinite ease-in-out forwards;
}

@keyframes logo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0);
  }
}